<configuration>
	<location path="101cambridge">
		<system.webServer>
			<httpRedirect destination="https://novascotia.ca/tran/" enabled="true" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="1o1cambridge">
		<system.webServer>
			<httpRedirect destination="https://novascotia.ca/tran/" enabled="true" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="104">
		<system.webServer>
			<httpRedirect destination="https://novascotia.ca/tran/" enabled="true" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="1o4">
		<system.webServer>
			<httpRedirect destination="https://novascotia.ca/tran/" enabled="true" exactDestination="true" />
		</system.webServer>
	</location>
	<location path="actionforhealth">
		<system.webServer>
			<httpRedirect destination="https://actionforhealth.novascotia.ca" enabled="true" exactDestination="true" />
		</system.webServer>
	</location>
</configuration>